<div class="container">
  <div class="category-show-wrapper">
    <div class="category-show-img">
      <% if @category.image.present? %>
        <%= image_tag @category.image, size: "350x327", alt: "Edit Entry" %>
      <% end %>
    </div>
    <div class="category-show-info">
      <div class="category-show-text">
        <h1><%= @category.name %></h1>
        <h2>by studio and friends</h2>
        <p>これは、表示するために選択した当社の Web サイトのカテゴリです。 サイトには、探索 する必要がある多くのカテゴリがあります。当サイトでその楽しさを体験してください。どうもありがとうございました </p>
      </div>
      <div class="category-show-price-btn"> 
        <!-- TODO: ...  -->
        <button type="button"><%= t("view.operation.list_detail") %></button>
      </div>
    </div>
  </div>
</div>
