<div class="col-md-6 col-xl-4 pb-8">
  <div class="homecate-border">
    <%= image_tag (category.image) %>
    <a href="product.html" class="homecate-border-txt ab-t-l px-5 trans-03 respon3">         
      <div class="homecate-border-title pt-5">
        <%= category.name %>
        <div class="homecate-border-info">Spring 2022</div>
      </div>
      <div class="homecate-border-txt-child2 pt-13 trans-05">        
        <div class="homecate-border-link trans-09">Shop Now</div>
      </div>
    </a>
  </div>
</div>
