.category_form{
  width:760px;
  padding-top:150px;
  justify-content: center;
  padding-left:130px;
  float:left;
}

.category_image{
  padding-top:75px;
  width:500px;
  float:right;
}

.category_image image{
  border:1px solid black;
}

h2{
  padding-bottom: 15px;
}

.category_form input{
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border:1px solid black;
}

.image_category{
  border-radius:10px;
}

.category_list{
  padding-top:50px;
  text-align: center;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 75%;
  max-width: 100%;
  white-space: nowrap;
  background-color: rgb(218, 209, 209);
  margin-left:150px;
  justify-content: center;
}

.fl-table td, .fl-table th {
  text-align: center;

  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
.fl-table {
    display: block;
    width: 100%;
}
.table-wrapper:before{
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
}
.fl-table thead, .fl-table tbody, .fl-table thead th {
    display: block;
}
.fl-table thead th:last-child{
    border-bottom: none;
}
.fl-table thead {
    float: left;
}
.fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
}
.fl-table td, .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
}
.fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
}
.fl-table tbody tr {
    display: table-cell;
}
.fl-table tbody tr:nth-child(odd) {
    background: none;
}
.fl-table tr:nth-child(even) {
    background: transparent;
}
.fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
}
.fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
}
.fl-table tbody td {
    display: block;
    text-align: center;
}
}

$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;



.header {
  background-color: darken($baseColor, 5%);
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.category_list img {
  border-radius: 50%;
  height: $imageSmall;
  width: $imageSmall;
}

.table-users {
  border: 1px solid darken($baseColor, 5%);
  border-radius: $borderRadius;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 900px;
}

table {
  width: 100%;
td, th { 
  color: darken($baseColor, 10%);
  padding: $padding; 
}

td {
  text-align: center;
  vertical-align: middle;
&:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
}

th { 
  background-color: lighten($baseColor, 50%);
  font-weight: 300;
}

tr {     
  &:nth-child(2n) { background-color: white; }
  &:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
}
}

@media screen and (max-width: 700px) {   
table, tr, td { display: block; }

tr {
  padding: $padding 0;
  position: relative;
  &:first-child { display: none; }
}
}

@media screen and (max-width: 500px) {
.header {
  background-color: transparent;
  color: lighten($baseColor, 60%);
  font-size: 2em;
  font-weight: 700;
  padding: 0;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

img {
  border: 3px solid;
  border-color: lighten($baseColor, 50%);
  height: $imageBig;
  margin: 0.5rem 0;
  width: $imageBig;
}


tr {
  background-color: white !important;
  border: 1px solid lighten($baseColor, 20%);
  border-radius: $borderRadius;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  margin: 0.5rem 0;
  padding: 0;
}

.table-users { 
  border: none; 
  box-shadow: none;
  overflow: visible;
}
}
.pagination{
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
li{
  display: inline;
  text-align: center;
}
a{
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color:#fff;
  margin-left: -1px;
  border:1px solid transparent;
  line-height: 1.5;
  &.active{  cursor: default;}
  &:active{ outline: none;}
}
}

.modal-2{
li{
&:first-child{
    a{ border-radius:50px 0 0 50px;}
}
&:last-child{
    a{ border-radius:0 50px 50px 0;}
}
}
a{
  border-color:#ddd; 
  color:#999;
  background:#fff;
&:hover{
    color:#4FC3A1;
    background-color: #eee;
}
&.active, &:active{
    border-color: #4FC3A1;
    background:#4FC3A1;
    color:#fff;
}
} 
}

.product-content {
  border: 1px solid #dfe5e9;
  margin-bottom: 20px;
  margin-top: 12px;
  background: #fff
}

.product-content .carousel-control.left {
  margin-left: 0
}

.product-content .product-image {
  background-color: #fff;
  display: block;
  min-height: 238px;
  overflow: hidden;
  position: relative
}

.product-content .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
  background: #fff
}

.product-deatil {
  padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
  padding: 0 0 5px!important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
  background: none!important
}

.product-deatil .glyphicon {
  color: #3276b1
}

.product-deatil .product-image {
  border-right: none!important
}

.product-deatil .name {
  margin-top: 0;
  margin-bottom: 0
}

.product-deatil .name small {
  display: block
}

.product-deatil .name a {
  margin-left: 0
}

.product-deatil .price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300
}

.product-deatil .price-container small {
  font-size: 12px
}

.product-deatil .fa-2x {
  font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
  font-size: 12px;
  margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
  font-size: 13px
}

.button_delete{
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #327a81;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;

  text-transform: uppercase;
  line-height: 46px;
  font-weight: 100;
  font-size: 1em;
  margin-left:30px;
  font-size: 12px;
  border-radius: 23px;
  letter-spacing: 2px;
  
  box-sizing: border-box;
}
