footer {
  background-color: #222;
}

footer ul,li {
  margin: 0px;
  list-style-type: none;
}
<<<<<<< HEAD

=======
  
>>>>>>> 88a83ff (add content-home and css)
footer li {
  display: list-item;
  text-align: -webkit-match-parent;
}
<<<<<<< HEAD

footer ol,ul {
  padding-left: 0rem;
}

=======
  
footer ol,ul {
  padding-left: 0rem;
}
  
>>>>>>> 88a83ff (add content-home and css)
.footer-title {
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}
<<<<<<< HEAD

=======
  
>>>>>>> 88a83ff (add content-home and css)
.footer-info {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  line-height: 1.923;
  color: #b2b2b2;
  text-decoration: none;
}
<<<<<<< HEAD

=======
  
>>>>>>> 88a83ff (add content-home and css)
.footer-button {
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  min-width: 179px;
  height: 46px;
  border-radius: 23px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #717fe0;
}

.footer-input {
  background-color: white;
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  line-height: 1.923;
  color: #b2b2b2;
}

.footer-note {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  line-height: 1.923;
}
