/*------------------------------------------------------------------
Project:  
Version:  
Last change:  
Assigned to:  Le Xuan Bach
Primary use:  Company
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[LAYOUT]
* body
+ Header / header
+ Page Content / .page-content .name-page
+ Section Layouts / section .name-section
...
+ Footer / footer
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[COLOR CODES]
# Text Color      :  
# Primary Color 01:  
# Primary Color 02:   
# Primary Color 03:  
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TYPOGRAPHY]
Body            : 16px/1.6 '', Arial, sans-serif;
Title           : 18px/1.6 '', Arial, sans-serif;
Paragrap        : 18px/1.6 '', Arial, sans-serif;
Input, textarea : 14px/1.6 '', Arial, sans-serif;
-------------------------------------------------------------------*/

// HOME 
.animsition{
height:800px;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
font-family: Poppins-Regular;
src: url('../fonts/Poppins/Poppins-Regular.ttf'); 
}

@font-face {
font-family: Poppins-Light;
src: url('../fonts/Poppins/Poppins-Light.ttf'); 
}

@font-face {
font-family: Poppins-ExtraLight;
src: url('../fonts/Poppins/Poppins-ExtraLight.ttf'); 
}

@font-face {
font-family: Poppins-Medium;
src: url('../fonts/Poppins/Poppins-Medium.ttf'); 
}

@font-face {
font-family: Poppins-Italic;
src: url('../fonts/Poppins/Poppins-Italic.ttf'); 
}

@font-face {
font-family: Poppins-Bold;
src: url('../fonts/Poppins/Poppins-Bold.ttf'); 
}

@font-face {
font-family: Poppins-SemiBold;
src: url('../fonts/Poppins/Poppins-SemiBold.ttf'); 
}


/*---------------------------------------------*/
@font-face {
font-family: PlayfairDisplay-Regular;
src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf'); 
}

@font-face {
font-family: PlayfairDisplay-Bold;
src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf'); 
}

/*---------------------------------------------*/
@font-face {
font-family: Montserrat-Regular;
src: url('../fonts/Montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
font-family: Montserrat-Bold;
src: url('../fonts/Montserrat/Montserrat-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RS PLUGIN ]*/

/*------------------------------------------------------------------
[ Bootstrap ]*/
.container {max-width: 1380px;}

@media (max-width: 1600px) {
.container {max-width: 1200px;}
}

/*------------------------------------------------------------------
[ Slick2 ]*/
.slick-slide {outline: none !important;}





/*//////////////////////////////////////////////////////////////////
[ LOADDING ]*/
.animsition-loading-1 {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.loader05 {
width: 56px;
height: 56px;
border: 4px solid #717fe0;
border-radius: 50%;
position: relative;
animation: loader-scale 1s ease-out infinite;
top: 50%;
margin: -28px auto 0 auto; 
}

@keyframes loader-scale {
0% {
transform: scale(0);
opacity: 0; }
50% {
opacity: 1; }
100% {
transform: scale(1);
opacity: 0; } 
}

/*//////////////////////////////////////////////////////////////////
[ BUTTON BACK TO TOP ]*/
.btn-back-to-top {
display: none;
position: fixed;
width: 40px;
height: 38px;
bottom: 0px;
right: 40px;
background-color: #717fe0;
opacity: 0.5;
justify-content: center;
align-items: center;
z-index: 1000;
cursor: pointer;
transition: all 0.4s;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
}

.symbol-btn-back-to-top {
font-size: 25px;
color: white;
line-height: 1em;
}

.btn-back-to-top:hover {
opacity: 1;
background-color: #717fe0;
}

@media (max-width: 575px) {
.btn-back-to-top {
bottom: 0px;
right: 15px;
}
}


/*//////////////////////////////////////////////////////////////////
[ Header ]*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
[ Header Desktop ]*/

.container-menu-desktop {
height: auto;
width: 100%;
position: relative;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.header-v2 .container-menu-desktop {
height: 84px;
}

.header-v3 .container-menu-desktop {
height: auto;
}

.header-v4 .container-menu-desktop {
height: 124px;
}


/*==================================================================
[ Top bar ]*/
.top-bar {
height: 40px;
background-color: #222;
}

/*---------------------------------------------*/
.left-top-bar {
font-family: Poppins-Regular;
font-size: 12px;
line-height: 1.8;
color: #b2b2b2;
}


/*---------------------------------------------*/
.right-top-bar a {
font-family: Poppins-Regular;
font-size: 12px;
line-height: 1.8;

height: 100%;
color: #b2b2b2;
border-right: 1px solid rgba(255,255,255,0.3);
}

.right-top-bar a:first-child {
border-left: 1px solid rgba(255,255,255,0.3);
}

.right-top-bar a:hover {
color: #6c7ae0;
}


/*---------------------------------------------*/
.topbar-mobile li {
padding: 8px 20px;
border-top: 1px solid rgba(255,255,255,0.05);
background-color: #222;
}



/*==================================================================
[ Menu ]*/

.wrap-menu-desktop {
z-index: 1100;
background-color: transparent;
width: 100%;
height: 84px;
top: 40px;
left: 0px; 

-webkit-transition: height 0.3s, background-color 0.3s;
-o-transition: height 0.3s, background-color 0.3s;
-moz-transition: height 0.3s, background-color 0.3s;
transition: height 0.3s, background-color 0.3s;
}

.header-v2 .wrap-menu-desktop {
background-color: #fff;
top: 0;
}

.header-v3 .wrap-menu-desktop {
background-color: transparent;
top: 0;
border-bottom: 1px solid rgba(255,255,255,0.1);
}

.header-v4 .wrap-menu-desktop {
background-color: #fff;
}


/*---------------------------------------------*/
.limiter-menu-desktop {
height: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
align-items: center;
background-color: transparent;
}



/*------------------------------------------------------------------
[ Logo ]*/
.logo {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
align-items: center;
height: 65%;
margin-right: 55px;
}

.logo img {
max-width: 100%;
max-height: 100%;
}



/*------------------------------------------------------------------
[ Menu ]*/

.menu-desktop {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
align-items: center;
height: 100%;
}

.main-menu {
list-style-type: none;
margin: 0;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
align-items: center;
}

.main-menu > li {
display: block;
position: relative;
padding: 20px 10px 20px 0px;
margin: 0px 4px 0px 14px;
}

.main-menu > li > a {
font-family: Poppins-Medium;
font-size: 14px;
color: #333;
padding: 5px 0px;
transition: all 0.4s;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
}

.header-v3 .main-menu > li > a {
color: #fff;
}

/*---------------------------------------------*/
.sub-menu {
list-style-type: none;
position: absolute;
top:0;
left:100%;
min-width: 178px;
max-width: 225px;
background-color: #fff;
transition: all 0.4s;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
padding: 5px 0;

box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
-o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
-ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);

visibility: hidden;
opacity: 0; 
}

.sub-menu li {
position: relative;
background-color: transparent;

transition: all 0.4s;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
}

.main-menu > li > .sub-menu {
top:100%;
left: 0;
}

.sub-menu a {
font-family: Poppins-Regular;
font-size: 14px;
line-height: 1.5;
color: #555;

display: block;
padding: 8px 20px; 
width: 100%;

transition: all 0.4s;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
}

/*---------------------------------------------*/
.main-menu > li:hover > a {
text-decoration: none;
color: #6c7ae0;
}

.main-menu > li:hover > .sub-menu {
visibility: visible;
opacity: 1;
}

.sub-menu li:hover > .sub-menu {
visibility: visible;
opacity: 1;
} 

.sub-menu li:hover {
background-color: transparent;
}

.sub-menu > li:hover > a {
color: #6c7ae0;
text-decoration: none;
}

@media (max-width: 1300px) {
.main-menu > .respon-sub-menu .sub-menu {
right: 100%;
left: auto;
}

.main-menu > .respon-sub-menu > .sub-menu {
right: 0px;
left: auto;
}
}

/*------------------------------------------------------------------
[ Icon header ]*/

.wrap-icon-header {
flex-grow: 1;
}

.icon-header-item {
position: relative;
font-size: 26px;
line-height: 1;
cursor: pointer;
}


/*---------------------------------------------*/
.icon-header-noti::after {
content: attr(data-notify);
font-family: Poppins-Regular;
font-size: 12px;
color: #fff;
line-height: 15px;
text-align: center;

display: block;
position: absolute;
top: -7px;
right: 0;
min-width: 15px;
height: 15px;
padding: 0 3px;
background-color: #717fe0;
}

/*---------------------------------------------*/
.wrap-header-mobile .wrap-icon-header {
flex-grow: unset;
}


/*------------------------------------------------------------------
[ Modal search ]*/
.modal-search-header {
position: fixed;
z-index: 2000;
width: 100%;
height: 100%;
bottom: 101%;
left: 0;
background-color: rgba(255,255,255,0.9);
padding: 50px 15px 100px 15px;
}

.show-modal-search {
bottom: 0;
}

.container-search-header {
width: auto;
max-width: 100%;
position: relative;
}

/*---------------------------------------------*/
.btn-hide-modal-search {
position: absolute;
padding: 5px;
right: 0;
top: -45px;
opacity: 0.8;
}

.btn-hide-modal-search:hover {
opacity: 1;
}

.wrap-search-header {
width: 960px;
max-width: 100%;
height: 120px;
border: 2px solid #e6e6e6;
background: #fff;
}

/*---------------------------------------------*/
.wrap-search-header input {
font-family: Poppins-ExtraLight;
font-size: 50px;
line-height: 1.2;
color: #333;

padding: 0px 30px 0px 0px;
width: calc(100% - 70px);
height: 100%;
background-color: transparent;
}

.wrap-search-header button {
font-size: 50px;
color: #333;
width: 70px;
height: 100%;
}

.wrap-search-header button:hover {
color: #6c7ae0;
}

/*---------------------------------------------*/
@media (max-width: 767px) {
.wrap-search-header input,
.wrap-search-header button {
font-size: 30px;
}

.wrap-search-header {
height: 90px;
}
}

@media (max-width: 575px) {
.wrap-search-header input,
.wrap-search-header button {
font-size: 20px;
}

.wrap-search-header button {
width: 40px;
}

.wrap-search-header {
height: 80px;
}
}




// [ Sidebar ]*/
.wrap-sidebar {
position: fixed;
z-index: 1100;
width: 100%;
height: 100vh;
top: 0;
right: 0;
background-color: rgba(0,0,0,0.0);
visibility: hidden;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;  
transition: all 0.4s;
}

.sidebar {
position: fixed;
z-index: 1100;
width: 390px;
max-width: calc(100% - 30px);
height: 100vh;
top: 0;
right: -400px;
background-color: #fff;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.34;  
transition: all 0.4s;

box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
-moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
-webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
-o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
-ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
}

.show-sidebar {
visibility: visible;
background-color: rgba(0,0,0,0.6);
}

.show-sidebar .sidebar {
right: 0;
}

@media (max-width: 991px) {
.wrap-sidebar {
display: none;
}
}

/*---------------------------------------------*/
.sidebar-content {
flex-grow: 1;
overflow: auto;
align-content: space-between;
}



/*==================================================================
TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/
.cl0 {color: #fff;}
.cl1 {color: #717fe0;}
.cl2 {color: #333;}
.cl3 {color: #666;}
.cl4 {color: #999;}
.cl5 {color: #222;}
.cl6 {color: #888;}
.cl7 {color: #b2b2b2;}
.cl8 {color: #555;}
.cl9 {color: #aaa;}
.cl10 {color: #1d1d1d;}
.cl11 {color: #f9ba48;}
.cl12 {color: #ccc;}

/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/
.stext-101 {
font-family: Poppins-Medium;
font-size: 15px;
line-height: 1.466667;
text-transform: uppercase;
}

.stext-102 {
font-family: Poppins-Regular;
font-size: 14px;
line-height: 1.7;
}

.stext-103 {
font-family: Poppins-Regular;
font-size: 15px;
line-height: 1.466667;
}

.stext-104 {
font-family: Poppins-Regular;
font-size: 14px;
line-height: 1.466667;
}

.stext-105 {
font-family: Poppins-Regular;
font-size: 14px;
line-height: 1.466667;
letter-spacing: 1px;
}

.stext-106 {
font-family: Poppins-Regular;
font-size: 15px;
line-height: 1.2;
}

.stext-107 {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
line-height: 1.923;
}

.stext-108 {
font-family: Poppins-Light;
font-size: 14px;
line-height: 1.7143;
}

.stext-109 {
font-family: Poppins-Regular;
font-size: 12px;
line-height: 1.833333;
}

.stext-110 {
font-family: Poppins-Medium;
font-size: 15px;
line-height: 1.466667;
}

.stext-111 {
font-family: Poppins-Regular;
font-size: 13px;
line-height: 1.6923;
}

.stext-112 {
font-family: Poppins-Regular;
font-size: 13px;
line-height: 1.6923;
text-transform: uppercase;
}

.stext-113 {
font-family: Poppins-Light;
font-size: 14px;
line-height: 1.7857;
}

.stext-114 {
font-family: Poppins-Italic;
font-size: 15px;
line-height: 1.666667;
}

.stext-115 {
font-family: Poppins-Regular;
font-size: 15px;
line-height: 1.666667;
}

.stext-116 {
font-family: Poppins-Regular;
font-size: 15px;
line-height: 1.266667;
}

.stext-117 {
font-family: Poppins-Light;
font-size: 15px;
line-height: 1.666667;
}


/*==================================================================
BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND 
==================================================================*/
.bg-none {background-color: transparent;}
.bg0 {background-color: #fff;}
.bg1 {background-color: #717fe0;}
.bg2 {background-color: #e6e6e6;}
.bg3 {background-color: #222;}
.bg5 {background-color: rgba(0,0,0,0.5);}
.bg6 {background-color: #f2f2f2;}
.bg7 {background-color: #333;}
.bg8 {background-color: #f3f3f3;}
.bg9 {background-color: rgba(255,255,255,0.9);}

/*---------------------------------------------*/
.bg-overlay1::before {
content: "";
position: absolute;
z-index: -100;
display: block;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: #000;
opacity: 0.5;
}

/*---------------------------------------------*/
.bg-img1 {
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}


.input1 {
background-color: transparent;
width: 100%;
}

.focus-input1 {
position: absolute;
width: 0%;
height: 2px;
background-color: #6774d5;
left: 0;
bottom: -2px;
}

.input1:focus + .focus-input1 {
width: 100%;
}

.stext-107 {
font-family: Poppins-Regular;
font-size: 13px;
line-height: 1.923;
}

.cl7 {
color: #b2b2b2;
}

input, textarea, label {
display: block;
outline: none;
border: none;
}

button, input {
overflow: visible;
}

.bor1 {
border-radius: 23px;
}

.bg1 {
background-color: #717fe0;
}

.size-103 {
min-width: 179px;
height: 46px;
}

.stext-101 {
font-family: Poppins-Medium;
font-size: 15px;
line-height: 1.466667;
text-transform: uppercase;
}

.flex-c-m {
justify-content: center;
-ms-align-items: center;
align-items: center;
}

.p-b-10, .p-tb-10, .p-all-10 {
padding-bottom: 10px;
}

ul, li {
margin: 0px;
list-style-type: none;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}

ol,
ul {
padding-left: 0rem;
}
