body, html {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #666666;
  height: 100%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.h-full {height: 100%;}

.trans-04 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.flex-c-m {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  display: flex;
}

.flex-sb-m {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  display: flex;
}


