<div class="container" style="height:650px;">
<div class="category_form">
<h2>カテゴリーを作成する</h2>
<%= render "categories/form" %>
</div>
<div class="category_image">
<%= image_tag("https://nordiccoder.com/app/uploads/2020/01/6ab1641f-fb02-4f84-b09d-b8f001063b66.png", size: "390x390", alt: "Edit Entry", class: "image_category") %>
</div>
</div>  
