<header>
<!-- Header desktop -->
<div class="header-menu-all">
  <!-- Topbar -->
  <div class="header-top-bar">
    <div class="flex-sb-m h-full container">
      <div class="header-left-top-bar">
        Free shipping for standard order over $100
      </div>

      <div class="header-right-top-bar d-flex">
        <a href="#" class="flex-c-m px-4">
          Help & FAQs
        </a>
        <a href="#" class="flex-c-m px-4">
          My Account
        </a>
        <a href="#" class="flex-c-m px-4">
          EN
        </a>
        <a href="#" class="flex-c-m px-4">
          USD
        </a>
      </div>
    </div>
  </div>

  <div class="header-wrap-menu-desktop">
    <nav class="header-limiter-menu-desktop container">
      <!-- Logo desktop -->		
      <a href="#" class="header-logo">
        <%= image_tag ('icons/logo-01.png') %>
      </a>

      <!-- Menu desktop -->
      <div class="header-menu-desktop">
        <ul class="header-main-menu">
          <li class="active-menu">
            <a href="index.html">Home</a>
            <ul class="header-sub-menu">
              <li><a href="index.html">Homepage 1</a></li>
              <li><a href="home-02.html">Homepage 2</a></li>
              <li><a href="home-03.html">Homepage 3</a></li>
            </ul>
          </li>

          <li>
            <a href="product.html">Shop</a>
          </li>

          <li class="label1" data-label1="hot">
            <a href="shoping-cart.html">Features</a>
          </li>

          <li>
            <a href="blog.html">Blog</a>
          </li>

          <li>
            <a href="about.html">About</a>
          </li>

          <li>
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </div>	
    </nav>
  </div>	
</div>
</header>
